::root{
	--main-txt-color:#46b8da;
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  	position: relative;
	margin:0;
	padding: 0;
	grid-template-rows: 1fr auto;
	background-color: #fbfbfb50;
}

p{
	font-size:13px;
	line-height: 20px;
}

footer {
	margin-top: 50px;
	right: 0;
	bottom: 1;
	left: 0;
	text-align: center;
	position: absolute;
  	grid-row-start: 2;
	grid-row-end: 3;
}

.content{
 	margin-top: -50px; 
	min-height: calc(100vh - 50px);
}

#work{
	min-height: 780px;
}

.space{
	background-color: #fff;
	border: 1px solid #f3f3f3;
	margin: 20px 0px 5px 0px;
	padding: 25px;
}

.bar-sosmed
{
	height: 35px;
	width: 100%;
	padding: 0 15px 0 15px;
}

.bar-sosmed .navbar-brand{
	color:#fff;
	font-size: 13px;
	line-height: 15px;
	margin: 0px;
	padding-top: 10px;
}

.bar-sosmed .small-icon{
	padding-top : 7.5px;
}

.bar-sosmed .small-icon .btn-bulet{
	border-radius: 50%;
	background-color: #fff;
	color : #4E71A8;;
	border-color:#fff; 
}

.bar-sosmed .container{
	padding: 0px;
}

.navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #eaeaea;
    background-color: transparent;
}

.navbar-custom{
	background-color: #fff;
	
}

.navbar-custom .navbar-nav > li > a{
	color : var(--main-txt-color); 
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	padding-top: 20px;
	text-transform: uppercase;
}

.navbar-custom .navbar-nav .active{
	border-bottom: 3px solid #12395a;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#12395a;
    background-color: #e7e7e7;
}

.navbar-custom #navbs{
	background-color: #fff;
/* 	border-bottom: 1px solid #e7e7e7; */
}

.dropdown-menu > li > a {
	font-size: 95%;
}

.title-case-line{
	padding-left: 10px;
	border-left: 5px solid #46b8da;
	border-bottom: 1px solid #efefef;
	width: 100%;
	margin-bottom: 15px;
}

.title-case-line p{
	font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    width: auto;
    font-weight: bold;
}

.title-case-block{
	padding-left: 10px;
	border-left: 5px solid #0764c1e6;
	background-color: #eaeaea;
	width: 100%;
	margin-bottom: 15px;
	font-weight: bold;
}

.title-case-block p{
	font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
}

.widget{
	margin-bottom: 35px;
}

.box-content{
	padding-right: 25px;
	border-right: 1px solid #fbfbfb;
	min-height: 600px;
}

.box-content .search{
	padding-top : 20px;
}

.bordered{
	min-height: 250px;
}

.bordered .archive{
	list-style: none;
	margin-left:0;
	padding-left: 3px;
	font-size: 12px;
	cursor:pointer;
}

.bordered .archive > li{
	padding: 5px 0px;
}

.bordered .archive > li > a{
	color:#525252;
}

.bordered .archive > li > a:hover{
	color:#000;
}

.bordered .archive > li .active{
	font-weight: bold;
	color:#000;
}

.bordered .archive span{
	background-color: #d82626;
	color: #fff;
	float:right;
	border-radius: 25%;
	padding: 2px 6px;
}

.bordered .archive .sub-archive{
	list-style: none;
	margin-left:0;
	padding-left: 15px;
	font-size: 14px;
	margin-bottom: 5px;
}

.bordered .archive .sub-archive > li{
	padding: 5px 0px;
}

.bordered .archive .sub-archive > li > a{
	color:#525252;
}

.bordered .archive .sub-archive > li > a:hover{
	color:#000;
}


.post-news{
	margin-bottom: 25px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #dbdbdb;
	min-height: 150px;
}


.post-news h5{
	line-height: 20px;
}

.post-news p{
	line-height: 18px;
}

.post-news i{
	color: #ababab;
}

.post-news span{
	font-weight: normal;
}


/*footer*/
footer.nb-footer {
	background: #222;
	border-top: 4px solid #46b8da; 
}

footer.nb-footer .about {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 1170px;
	text-align: center; 
}

footer.nb-footer .about p {
	font-size: 13px;
	color: #999;
	margin-top: 30px; 
}

footer.nb-footer .about .social-media {
	margin-top: 15px; 
}

footer.nb-footer .about .social-media ul li a {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	font-size: 16px;
	color: #46b8da;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
	background: #46b8da;
	color: #fff;
	border-color: #46b8da;
}

footer.nb-footer .footer-info-single {
	margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
	color: #aaa;
	text-transform: uppercase;
	font-size: 16px;
	border-left: 4px solid #46b8da;
	padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
	display: block;
	color: #aaa;
	padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
	color: #46b8da;
}

footer.nb-footer .footer-info-single p {
	font-size: 13px;
	line-height: 20px;
	color: #aaa;
}

footer.nb-footer .copyright {
	margin-top: 15px;
	background: #111;
	padding: 7px 0;
	color: #999; 
}

footer.nb-footer .copyright p {
	margin: 0;
	padding: 0; 
}

/* blog */
.news{
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #eaeaea;
}

.news .title{
	font-weight: bold;
	margin: 0px;
	padding: 0px 0px 10px 0;
	line-height: 24px;
	font-size: 16px;
}

.news p{
	text-align: justify;
}

.news img{
	margin-bottom: 15px;
	width: 100%;
}

.date_holder {
    float: left;
    background: #60829e;
    color: #fff;
    padding: 4px 12px 12px;
    margin-right: 6px;
    position: relative;
    text-align: center;
}

.date_holder:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 1px;
    height: 1px;
    border: 24px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 0;
}

/* bulet button */
.bulet-blue ul li {
	margin-right: 10px;
}

.bulet-blue ul li a {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 32px;
    color: #46b8da;
    border: 1px solid #46b8da;
    text-align: center;
}

.bulet-blue ul li p{
	font-size: 12px;
	text-align: center;
	width: 100%;
	color: #46b8da;
}

.bulet-blue ul li a:hover {
    background: #46b8da;
    color: #fff;
    border-color: #46b8da;
}

/* orange bulet button*/
.bulet-orange ul li {
	margin-right: 10px;
}

.bulet-orange ul li a {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 32px;
    color: #E65100;
    border: 1px solid #E65100;
    text-align: center;
}

.bulet-orange ul li p{
	font-size: 12px;
	text-align: center;
	width: 100%;
	color: #E65100;
}

.bulet-orange ul li a:hover {
    background: #E65100;
    color: #fff;
    border-color: #E65100;
}

/* green bulet button*/
.bulet-green ul li {
	margin-right: 10px;
}

.bulet-green ul li a {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 32px;
    color: #5cb85c;
    border: 1px solid #4cae4c;
    text-align: center;
}

.bulet-green ul li p{
	font-size: 12px;
	text-align: center;
	width: 100%;
	color: #5cb85c;
}

.bulet-green ul li a:hover {
    background: #5cb85c;
    color: #fff;
    border-color: #4cae4c;
}

tr td .label{
	font-weight: normal;
}

/*mobile css*/
@media (max-width: 767px) {
    /* CSS goes here */
    .content .container{
    	padding-left: 0px;
    	padding-right: 0px;
    }
    .space{
    	padding-left: 15px;
    	padding-right: 15px;
    }
    .box-content{
    	padding-right: 0px;
    }
}

.text-white{
	color: #fff;
}

.navbar-nav{
	width: 100%;
}

.breadcrumb{
	margin-top: 110px;
}