/*
Theme Name: Rok Mini
Theme URI:
Description: For just only mine, Schatzie.
Author: heri.mardiansah@gmail.com
Version: 0.1

@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700');
@import url('http://fonts.googleapis.com/css?family=Roboto:400');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400');
*/

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body table{
	font-family: 'roboto'!important;
}
h4 small, h4 .small {color: #444444;}
.paneltitle { letter-spacing: 1px; font-size: 16px; padding: 0; margin: 0; }
.uppercase {text-transform: uppercase;}
#page-title {padding: 20px 0;}
.container-fullw {padding-bottom:10px; padding-top:5px;}
#sidebar > div nav > ul {margin-top:0px;}
.swMain > ul { margin-bottom: 10px; }
fieldset {padding: 25px 0;border: 1px solid #dddddd;}
fieldset.formlogin {padding: 25px; }
legend {cursor: pointer;}
#page-title h1 { font-size: 22px; }
#page-title .mainDescription { font-size: 14px; }
label {color: #545454;}
.formlabelright label {text-align: right; font-size: 14px; padding-top: 5px; }
.formlabelright .form-group {margin-bottom: 5px !important;}
.formlabelright .checkbox label {text-align: left; font-size: 14px; padding-top: 0px; }
.none {display: none;}
.login .content {width: auto !important;margin: 10% auto 0 auto;}
.page-container-bg-solid .theme-panel, .page-content-white .theme-panel{margin-top: -28px;}
.modal p {margin: 0;}
.center-row {
	display:table;
}
.vmiddle {
	display:table-cell;
    vertical-align:middle;
    float:none;
}

.input-group-addon {
  -webkit-border-radius: 0 0 0 0 !important;
     -moz-border-radius: 0 0 0 0 !important;
          border-radius: 0 0 0 0 !important;
}

.hoveropa8:hover {opacity: .8;}
.hoveropa7:hover {
	opacity: .7;
}
.hoverborder2:hover {border: 1px solid #58d0da; margin: -1px 0;}
.hoverborder1:hover {
	border-bottom: 1px solid #58d0da; margin-bottom: -1px;
	border-top: 1px solid #58d0da; margin-top: -1px;
}

.lineheight150p{line-height: 150%;}
.lineheight160p{line-height: 160%;}
.lineheight175p{line-height: 175%;}
.lineheight200p{line-height: 200%;}
.letterspacing0{letter-spacing: 0;}
.letterspacing1{letter-spacing: 1px;}
.letterspacing2{letter-spacing: 2px;}
.letterspacing3{letter-spacing: 3px;}
.letterspacing4{letter-spacing: 4px;}
.letterspacing5{letter-spacing: 5px;}
.letterspacing6{letter-spacing: 6px;}
.letterspacing7{letter-spacing: 7px;}
.letterspacing8{letter-spacing: 8px;}
.letterspacing9{letter-spacing: 9px;}
.letterspacing10{letter-spacing: 10px;}

label { cursor: pointer; font-weight: normal; }

/********** classs ***********/
.l50 { width: 50%; float: left; clear: both; }
.l75 { width: 75%; float: left; clear: both; }
.tengah { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.vtengah { vertical-align:middle; }
.tengah blink {color: #eee;}
.tebal {font-weight: bold;}

.color111 {color: #111; }
.color222 {color: #222; }
.color333 {color: #333; }
.color444 {color: #444; }
.color555 {color: #555; }
.color777 {color: #777; }
.color999 {color: #999; }
.colorgelap {color: #111; }
.colorterang {color: #eee; }

.tabelListData { font-size: 12px; }
.blink { text-decoration: blink; }

.lineheight20{line-height:20px;}
.lineheight22{line-height:22px;}

.pointer { cursor: pointer; }
.overflownone {overflow: hidden; }
.overflowy {overflow-x: none; overflow-y: auto; }
.overflowx {overflow-y: none; overflow-x: auto; }

.warnaijo { color:#090; }
.warnamerah { color: #900; }
.warnabiru { color: #00f; }
.warnabgkrim { background-color: #efefef; }
.bggelap { background-color: #111; }

.galeri { padding: auto; background:#ddd;}
.galeridiv { padding: 0; mar-gin-bottom: 5px; he-ight: 175px; overflow: hidden; }
.galeridiv1 { padding: 0; max-height: 250px; overflow: hidden; }
.galeridiv img, .galeridiv1 img {min-width: 100%; min-height:100%;}
.img100 img { width: 100%; }
.width100 { width: 100%; }
.height100 { height: 100%; }
.fontsize6 { font-size: 6px; }
.fontsize7 { font-size: 7px; }
.fontsize8 { font-size: 8px; }
.fontsize9 { font-size: 9px; }
.fontsize10 { font-size: 10px; }
.fontsize11 { font-size: 11px; }
.fontsize12 { font-size: 12px; }
.fontsize13 { font-size: 13px; }
.fontsize14 { font-size: 14px; }
.fontsize16 { font-size: 16px; }
.fontsize18 { font-size: 18px; }
.fontsize20 { font-size: 20px; }
.fontsize22 { font-size: 22px; }
.fontsize24 { font-size: 24px; }
.fontsize25 { font-size: 25px; }
.fontsize30 { font-size: 30px; }
.fontsize35 { font-size: 35px; }
.fontsize40 { font-size: 40px; }
.fontsize50 { font-size: 50px; }
.tinggi0 { height: 0px; }
.tinggi25 { height: 25px; }
.tinggi30 { height: 30px; }
.tinggi35 { height: 35px; }
.tinggi40 { height: 40px; }
.tinggi50 { height: 50px; }
.tinggi75 { height: 75px; }
.tinggi100 { height: 100px; }
.tinggi125 { height: 125px; }
.tinggi150 { height: 150px; }
.tinggi200 { height: 200px; }
.tinggi250 { height: 250px; }
.height300 { height: 300px; overflow: hidden; }
.height350 { height: 350px; overflow: hidden; }

.lebar0 { width: 0px; }
.lebar25 { width: 25px; }
.lebar30 { width: 30px; }
.lebar35 { width: 35px; }
.lebar40 { width: 40px; }
.lebar50 { width: 50px; }
.lebar75 { width: 75px; }
.lebar100 { width: 100px; }
.lebar150 { width: 150px; }
.lebar200 { width: 200px; }
.lebar250 { width: 250px; }
.width300 { width: 300px; overflow: hidden; }
.width350 { width: 350px; overflow: hidden; }

.mintinggi150 { min-height: 150px; }
.mintinggi200 { min-height: 200px; }
.makstinggi200 { max-height: 200px; }
.makstinggi250 { max-height: 250px; }
.makstinggi300 { max-height: 300px; }

#rbmes { position: fixed; bottom: 0; right: 10px; }

.opa0 {opacity: 0;filter: alpha(opacity=0);}
.opa7 {opacity: 0.7;filter: alpha(opacity=70);}
.opa8 {opacity: 0.8;filter: alpha(opacity=80);}
.opa9{opacity: 0.9;filter: alpha(opacity=90);}
.opa10 {opacity: 1.0;filter: alpha(opacity=100);}
.mar0 { margin: 0; }
.pad0 { padding: 0; }


.martop5min { margin-top: -5px; }


/*
	hi = height;
	minhi = min-height;
	wi = width;
	minwi = min-width;
	fs = font-size;
	ls = letter-spacing;
*/
.hi0{height:0px !important;}.hi5{height:5px !important;}.hi10{height:10px !important;}.hi15{height:15px !important;}.hi20{height:20px !important;}.hi25{height:25px !important;}.hi30{height:30px !important;}.hi35{height:35px !important;}.hi40{height:40px !important;}.hi45{height:45px !important;}.hi50{height:50px !important;}.hi55{height:55px !important;}.hi60{height:60px !important;}.hi65{height:65px !important;}.hi70{height:70px !important;}.hi75{height:75px !important;}.hi80{height:80px !important;}.hi85{height:85px !important;}.hi90{height:90px !important;}.hi95{height:95px !important;}.hi100{height:100px !important;}.hi105{height:105px !important;}.hi110{height:110px !important;}.hi115{height:115px !important;}.hi120{height:120px !important;}.hi125{height:125px !important;}.hi130{height:130px !important;}.hi135{height:135px !important;}.hi140{height:140px !important;}.hi145{height:145px !important;}.hi150{height:150px !important;}.hi155{height:155px !important;}.hi160{height:160px !important;}.hi165{height:165px !important;}.hi170{height:170px !important;}.hi175{height:175px !important;}.hi180{height:180px !important;}.hi185{height:185px !important;}.hi190{height:190px !important;}.hi195{height:195px !important;}.hi200{height:200px !important;}.hi200{height:200px !important;}.hi210{height:210px !important;}.hi220{height:220px !important;}.hi230{height:230px !important;}.hi240{height:240px !important;}.hi250{height:250px !important;}.hi260{height:260px !important;}.hi270{height:270px !important;}.hi280{height:280px !important;}.hi290{height:290px !important;}.hi300{height:300px !important;}.hi310{height:310px !important;}.hi320{height:320px !important;}.hi330{height:330px !important;}.hi340{height:340px !important;}.hi350{height:350px !important;}.hi360{height:360px !important;}.hi370{height:370px !important;}.hi380{height:380px !important;}.hi390{height:390px !important;}.hi400{height:400px !important;}.hi410{height:410px !important;}.hi420{height:420px !important;}.hi430{height:430px !important;}.hi440{height:440px !important;}.hi450{height:450px !important;}.hi460{height:460px !important;}.hi470{height:470px !important;}.hi480{height:480px !important;}.hi490{height:490px !important;}.hi500{height:500px !important;}.hi510{height:510px !important;}.hi520{height:520px !important;}.hi530{height:530px !important;}.hi540{height:540px !important;}.hi550{height:550px !important;}.hi560{height:560px !important;}.hi570{height:570px !important;}.hi580{height:580px !important;}.hi590{height:590px !important;}.hi600{height:600px !important;}.hi610{height:610px !important;}.hi620{height:620px !important;}.hi630{height:630px !important;}.hi640{height:640px !important;}.hi650{height:650px !important;}.hi660{height:660px !important;}.hi670{height:670px !important;}.hi680{height:680px !important;}.hi690{height:690px !important;}.hi700{height:700px !important;}.hi710{height:710px !important;}.hi720{height:720px !important;}.hi730{height:730px !important;}.hi740{height:740px !important;}.hi750{height:750px !important;}.hi760{height:760px !important;}.hi770{height:770px !important;}.hi780{height:780px !important;}.hi790{height:790px !important;}.hi800{height:800px !important;}.hi810{height:810px !important;}.hi820{height:820px !important;}.hi830{height:830px !important;}.hi840{height:840px !important;}.hi850{height:850px !important;}.hi860{height:860px !important;}.hi870{height:870px !important;}.hi880{height:880px !important;}.hi890{height:890px !important;}.hi900{height:900px !important;}.hi910{height:910px !important;}.hi920{height:920px !important;}.hi930{height:930px !important;}.hi940{height:940px !important;}.hi950{height:950px !important;}.hi960{height:960px !important;}.hi970{height:970px !important;}.hi980{height:980px !important;}.hi990{height:990px !important;}.hi1000{height:1000px !important;}
.minhi0{min-height:0px !important;}.minhi5{min-height:5px !important;}.minhi10{min-height:10px !important;}.minhi15{min-height:15px !important;}.minhi20{min-height:20px !important;}.minhi25{min-height:25px !important;}.minhi30{min-height:30px !important;}.minhi35{min-height:35px !important;}.minhi40{min-height:40px !important;}.minhi45{min-height:45px !important;}.minhi50{min-height:50px !important;}.minhi55{min-height:55px !important;}.minhi60{min-height:60px !important;}.minhi65{min-height:65px !important;}.minhi70{min-height:70px !important;}.minhi75{min-height:75px !important;}.minhi80{min-height:80px !important;}.minhi85{min-height:85px !important;}.minhi90{min-height:90px !important;}.minhi95{min-height:95px !important;}.minhi100{min-height:100px !important;}.minhi105{min-height:105px !important;}.minhi110{min-height:110px !important;}.minhi115{min-height:115px !important;}.minhi120{min-height:120px !important;}.minhi125{min-height:125px !important;}.minhi130{min-height:130px !important;}.minhi135{min-height:135px !important;}.minhi140{min-height:140px !important;}.minhi145{min-height:145px !important;}.minhi150{min-height:150px !important;}.minhi155{min-height:155px !important;}.minhi160{min-height:160px !important;}.minhi165{min-height:165px !important;}.minhi170{min-height:170px !important;}.minhi175{min-height:175px !important;}.minhi180{min-height:180px !important;}.minhi185{min-height:185px !important;}.minhi190{min-height:190px !important;}.minhi195{min-height:195px !important;}.minhi200{min-height:200px !important;}.minhi200{min-height:200px !important;}.minhi210{min-height:210px !important;}.minhi220{min-height:220px !important;}.minhi230{min-height:230px !important;}.minhi240{min-height:240px !important;}.minhi250{min-height:250px !important;}.minhi260{min-height:260px !important;}.minhi270{min-height:270px !important;}.minhi280{min-height:280px !important;}.minhi290{min-height:290px !important;}.minhi300{min-height:300px !important;}.minhi310{min-height:310px !important;}.minhi320{min-height:320px !important;}.minhi330{min-height:330px !important;}.minhi340{min-height:340px !important;}.minhi350{min-height:350px !important;}.minhi360{min-height:360px !important;}.minhi370{min-height:370px !important;}.minhi380{min-height:380px !important;}.minhi390{min-height:390px !important;}.minhi400{min-height:400px !important;}.minhi410{min-height:410px !important;}.minhi420{min-height:420px !important;}.minhi430{min-height:430px !important;}.minhi440{min-height:440px !important;}.minhi450{min-height:450px !important;}.minhi460{min-height:460px !important;}.minhi470{min-height:470px !important;}.minhi480{min-height:480px !important;}.minhi490{min-height:490px !important;}.minhi500{min-height:500px !important;}.minhi510{min-height:510px !important;}.minhi520{min-height:520px !important;}.minhi530{min-height:530px !important;}.minhi540{min-height:540px !important;}.minhi550{min-height:550px !important;}.minhi560{min-height:560px !important;}.minhi570{min-height:570px !important;}.minhi580{min-height:580px !important;}.minhi590{min-height:590px !important;}.minhi600{min-height:600px !important;}.minhi610{min-height:610px !important;}.minhi620{min-height:620px !important;}.minhi630{min-height:630px !important;}.minhi640{min-height:640px !important;}.minhi650{min-height:650px !important;}.minhi660{min-height:660px !important;}.minhi670{min-height:670px !important;}.minhi680{min-height:680px !important;}.minhi690{min-height:690px !important;}.minhi700{min-height:700px !important;}.minhi710{min-height:710px !important;}.minhi720{min-height:720px !important;}.minhi730{min-height:730px !important;}.minhi740{min-height:740px !important;}.minhi750{min-height:750px !important;}.minhi760{min-height:760px !important;}.minhi770{min-height:770px !important;}.minhi780{min-height:780px !important;}.minhi790{min-height:790px !important;}.minhi800{min-height:800px !important;}.minhi810{min-height:810px !important;}.minhi820{min-height:820px !important;}.minhi830{min-height:830px !important;}.minhi840{min-height:840px !important;}.minhi850{min-height:850px !important;}.minhi860{min-height:860px !important;}.minhi870{min-height:870px !important;}.minhi880{min-height:880px !important;}.minhi890{min-height:890px !important;}.minhi900{min-height:900px !important;}.minhi910{min-height:910px !important;}.minhi920{min-height:920px !important;}.minhi930{min-height:930px !important;}.minhi940{min-height:940px !important;}.minhi950{min-height:950px !important;}.minhi960{min-height:960px !important;}.minhi970{min-height:970px !important;}.minhi980{min-height:980px !important;}.minhi990{min-height:990px !important;}.minhi1000{min-height:1000px !important;}
.wi0{width:0px !important;}.wi5{width:5px !important;}.wi10{width:10px !important;}.wi15{width:15px !important;}.wi20{width:20px !important;}.wi25{width:25px !important;}.wi30{width:30px !important;}.wi35{width:35px !important;}.wi40{width:40px !important;}.wi45{width:45px !important;}.wi50{width:50px !important;}.wi55{width:55px !important;}.wi60{width:60px !important;}.wi65{width:65px !important;}.wi70{width:70px !important;}.wi75{width:75px !important;}.wi80{width:80px !important;}.wi85{width:85px !important;}.wi90{width:90px !important;}.wi95{width:95px !important;}.wi100{width:100px !important;}.wi105{width:105px !important;}.wi110{width:110px !important;}.wi115{width:115px !important;}.wi120{width:120px !important;}.wi125{width:125px !important;}.wi130{width:130px !important;}.wi135{width:135px !important;}.wi140{width:140px !important;}.wi145{width:145px !important;}.wi150{width:150px !important;}.wi155{width:155px !important;}.wi160{width:160px !important;}.wi165{width:165px !important;}.wi170{width:170px !important;}.wi175{width:175px !important;}.wi180{width:180px !important;}.wi185{width:185px !important;}.wi190{width:190px !important;}.wi195{width:195px !important;}.wi200{width:200px !important;}.wi200{width:200px !important;}.wi210{width:210px !important;}.wi220{width:220px !important;}.wi230{width:230px !important;}.wi240{width:240px !important;}.wi250{width:250px !important;}.wi260{width:260px !important;}.wi270{width:270px !important;}.wi280{width:280px !important;}.wi290{width:290px !important;}.wi300{width:300px !important;}.wi310{width:310px !important;}.wi320{width:320px !important;}.wi330{width:330px !important;}.wi340{width:340px !important;}.wi350{width:350px !important;}.wi360{width:360px !important;}.wi370{width:370px !important;}.wi380{width:380px !important;}.wi390{width:390px !important;}.wi400{width:400px !important;}.wi410{width:410px !important;}.wi420{width:420px !important;}.wi430{width:430px !important;}.wi440{width:440px !important;}.wi450{width:450px !important;}.wi460{width:460px !important;}.wi470{width:470px !important;}.wi480{width:480px !important;}.wi490{width:490px !important;}.wi500{width:500px !important;}.wi510{width:510px !important;}.wi520{width:520px !important;}.wi530{width:530px !important;}.wi540{width:540px !important;}.wi550{width:550px !important;}.wi560{width:560px !important;}.wi570{width:570px !important;}.wi580{width:580px !important;}.wi590{width:590px !important;}.wi600{width:600px !important;}.wi610{width:610px !important;}.wi620{width:620px !important;}.wi630{width:630px !important;}.wi640{width:640px !important;}.wi650{width:650px !important;}.wi660{width:660px !important;}.wi670{width:670px !important;}.wi680{width:680px !important;}.wi690{width:690px !important;}.wi700{width:700px !important;}.wi710{width:710px !important;}.wi720{width:720px !important;}.wi730{width:730px !important;}.wi740{width:740px !important;}.wi750{width:750px !important;}.wi760{width:760px !important;}.wi770{width:770px !important;}.wi780{width:780px !important;}.wi790{width:790px !important;}.wi800{width:800px !important;}.wi810{width:810px !important;}.wi820{width:820px !important;}.wi830{width:830px !important;}.wi840{width:840px !important;}.wi850{width:850px !important;}.wi860{width:860px !important;}.wi870{width:870px !important;}.wi880{width:880px !important;}.wi890{width:890px !important;}.wi900{width:900px !important;}.wi910{width:910px !important;}.wi920{width:920px !important;}.wi930{width:930px !important;}.wi940{width:940px !important;}.wi950{width:950px !important;}.wi960{width:960px !important;}.wi970{width:970px !important;}.wi980{width:980px !important;}.wi990{width:990px !important;}.wi1000{width:1000px !important;}
.minwi0{min-width:0px !important;}.minwi5{min-width:5px !important;}.minwi10{min-width:10px !important;}.minwi15{min-width:15px !important;}.minwi20{min-width:20px !important;}.minwi25{min-width:25px !important;}.minwi30{min-width:30px !important;}.minwi35{min-width:35px !important;}.minwi40{min-width:40px !important;}.minwi45{min-width:45px !important;}.minwi50{min-width:50px !important;}.minwi55{min-width:55px !important;}.minwi60{min-width:60px !important;}.minwi65{min-width:65px !important;}.minwi70{min-width:70px !important;}.minwi75{min-width:75px !important;}.minwi80{min-width:80px !important;}.minwi85{min-width:85px !important;}.minwi90{min-width:90px !important;}.minwi95{min-width:95px !important;}.minwi100{min-width:100px !important;}.minwi105{min-width:105px !important;}.minwi110{min-width:110px !important;}.minwi115{min-width:115px !important;}.minwi120{min-width:120px !important;}.minwi125{min-width:125px !important;}.minwi130{min-width:130px !important;}.minwi135{min-width:135px !important;}.minwi140{min-width:140px !important;}.minwi145{min-width:145px !important;}.minwi150{min-width:150px !important;}.minwi155{min-width:155px !important;}.minwi160{min-width:160px !important;}.minwi165{min-width:165px !important;}.minwi170{min-width:170px !important;}.minwi175{min-width:175px !important;}.minwi180{min-width:180px !important;}.minwi185{min-width:185px !important;}.minwi190{min-width:190px !important;}.minwi195{min-width:195px !important;}.minwi200{min-width:200px !important;}.minwi200{min-width:200px !important;}.minwi210{min-width:210px !important;}.minwi220{min-width:220px !important;}.minwi230{min-width:230px !important;}.minwi240{min-width:240px !important;}.minwi250{min-width:250px !important;}.minwi260{min-width:260px !important;}.minwi270{min-width:270px !important;}.minwi280{min-width:280px !important;}.minwi290{min-width:290px !important;}.minwi300{min-width:300px !important;}.minwi310{min-width:310px !important;}.minwi320{min-width:320px !important;}.minwi330{min-width:330px !important;}.minwi340{min-width:340px !important;}.minwi350{min-width:350px !important;}.minwi360{min-width:360px !important;}.minwi370{min-width:370px !important;}.minwi380{min-width:380px !important;}.minwi390{min-width:390px !important;}.minwi400{min-width:400px !important;}.minwi410{min-width:410px !important;}.minwi420{min-width:420px !important;}.minwi430{min-width:430px !important;}.minwi440{min-width:440px !important;}.minwi450{min-width:450px !important;}.minwi460{min-width:460px !important;}.minwi470{min-width:470px !important;}.minwi480{min-width:480px !important;}.minwi490{min-width:490px !important;}.minwi500{min-width:500px !important;}.minwi510{min-width:510px !important;}.minwi520{min-width:520px !important;}.minwi530{min-width:530px !important;}.minwi540{min-width:540px !important;}.minwi550{min-width:550px !important;}.minwi560{min-width:560px !important;}.minwi570{min-width:570px !important;}.minwi580{min-width:580px !important;}.minwi590{min-width:590px !important;}.minwi600{min-width:600px !important;}.minwi610{min-width:610px !important;}.minwi620{min-width:620px !important;}.minwi630{min-width:630px !important;}.minwi640{min-width:640px !important;}.minwi650{min-width:650px !important;}.minwi660{min-width:660px !important;}.minwi670{min-width:670px !important;}.minwi680{min-width:680px !important;}.minwi690{min-width:690px !important;}.minwi700{min-width:700px !important;}.minwi710{min-width:710px !important;}.minwi720{min-width:720px !important;}.minwi730{min-width:730px !important;}.minwi740{min-width:740px !important;}.minwi750{min-width:750px !important;}.minwi760{min-width:760px !important;}.minwi770{min-width:770px !important;}.minwi780{min-width:780px !important;}.minwi790{min-width:790px !important;}.minwi800{min-width:800px !important;}.minwi810{min-width:810px !important;}.minwi820{min-width:820px !important;}.minwi830{min-width:830px !important;}.minwi840{min-width:840px !important;}.minwi850{min-width:850px !important;}.minwi860{min-width:860px !important;}.minwi870{min-width:870px !important;}.minwi880{min-width:880px !important;}.minwi890{min-width:890px !important;}.minwi900{min-width:900px !important;}.minwi910{min-width:910px !important;}.minwi920{min-width:920px !important;}.minwi930{min-width:930px !important;}.minwi940{min-width:940px !important;}.minwi950{min-width:950px !important;}.minwi960{min-width:960px !important;}.minwi970{min-width:970px !important;}.minwi980{min-width:980px !important;}.minwi990{min-width:990px !important;}.minwi1000{min-width:1000px !important;}
.ls0{letter-spacing:0px !important;}.ls1{letter-spacing:1px !important;}.ls2{letter-spacing:2px !important;}.ls3{letter-spacing:3px !important;}.ls4{letter-spacing:4px !important;}.ls5{letter-spacing:5px !important;}.ls6{letter-spacing:6px !important;}.ls7{letter-spacing:7px !important;}.ls8{letter-spacing:8px !important;}.ls9{letter-spacing:9px !important;}.ls10{letter-spacing:10px !important;}.ls11{letter-spacing:11px !important;}.ls12{letter-spacing:12px !important;}.ls13{letter-spacing:13px !important;}.ls14{letter-spacing:14px !important;}.ls15{letter-spacing:15px !important;}.ls16{letter-spacing:16px !important;}.ls17{letter-spacing:17px !important;}.ls18{letter-spacing:18px !important;}.ls19{letter-spacing:19px !important;}.ls20{letter-spacing:20px !important;}.ls21{letter-spacing:21px !important;}.ls22{letter-spacing:22px !important;}.ls23{letter-spacing:23px !important;}.ls24{letter-spacing:24px !important;}.ls25{letter-spacing:25px !important;}.ls26{letter-spacing:26px !important;}.ls27{letter-spacing:27px !important;}.ls28{letter-spacing:28px !important;}.ls29{letter-spacing:29px !important;}.ls30{letter-spacing:30px !important;}.ls31{letter-spacing:31px !important;}.ls32{letter-spacing:32px !important;}.ls33{letter-spacing:33px !important;}.ls34{letter-spacing:34px !important;}.ls35{letter-spacing:35px !important;}.ls36{letter-spacing:36px !important;}.ls37{letter-spacing:37px !important;}.ls38{letter-spacing:38px !important;}.ls39{letter-spacing:39px !important;}.ls40{letter-spacing:40px !important;}.ls41{letter-spacing:41px !important;}.ls42{letter-spacing:42px !important;}.ls43{letter-spacing:43px !important;}.ls44{letter-spacing:44px !important;}.ls45{letter-spacing:45px !important;}.ls46{letter-spacing:46px !important;}.ls47{letter-spacing:47px !important;}.ls48{letter-spacing:48px !important;}.ls49{letter-spacing:49px !important;}.ls50{letter-spacing:50px !important;}.ls50{letter-spacing:50px !important;}.ls55{letter-spacing:55px !important;}.ls60{letter-spacing:60px !important;}.ls65{letter-spacing:65px !important;}.ls70{letter-spacing:70px !important;}.ls75{letter-spacing:75px !important;}.ls80{letter-spacing:80px !important;}.ls85{letter-spacing:85px !important;}.ls90{letter-spacing:90px !important;}.ls95{letter-spacing:95px !important;}.ls100{letter-spacing:100px !important;}.ls105{letter-spacing:105px !important;}.ls110{letter-spacing:110px !important;}.ls115{letter-spacing:115px !important;}.ls120{letter-spacing:120px !important;}.ls125{letter-spacing:125px !important;}.ls130{letter-spacing:130px !important;}.ls135{letter-spacing:135px !important;}.ls140{letter-spacing:140px !important;}.ls145{letter-spacing:145px !important;}.ls150{letter-spacing:150px !important;}.ls155{letter-spacing:155px !important;}.ls160{letter-spacing:160px !important;}.ls165{letter-spacing:165px !important;}.ls170{letter-spacing:170px !important;}.ls175{letter-spacing:175px !important;}.ls180{letter-spacing:180px !important;}.ls185{letter-spacing:185px !important;}.ls190{letter-spacing:190px !important;}.ls195{letter-spacing:195px !important;}.ls200{letter-spacing:200px !important;}.ls200{letter-spacing:200px !important;}.ls210{letter-spacing:210px !important;}.ls220{letter-spacing:220px !important;}.ls230{letter-spacing:230px !important;}.ls240{letter-spacing:240px !important;}.ls250{letter-spacing:250px !important;}.ls260{letter-spacing:260px !important;}.ls270{letter-spacing:270px !important;}.ls280{letter-spacing:280px !important;}.ls290{letter-spacing:290px !important;}.ls300{letter-spacing:300px !important;}
.fs0{font-size:0px !important;}.fs1{font-size:1px !important;}.fs2{font-size:2px !important;}.fs3{font-size:3px !important;}.fs4{font-size:4px !important;}.fs5{font-size:5px !important;}.fs6{font-size:6px !important;}.fs7{font-size:7px !important;}.fs8{font-size:8px !important;}.fs9{font-size:9px !important;}.fs10{font-size:10px !important;}.fs11{font-size:11px !important;}.fs12{font-size:12px !important;}.fs13{font-size:13px !important;}.fs14{font-size:14px !important;}.fs15{font-size:15px !important;}.fs16{font-size:16px !important;}.fs17{font-size:17px !important;}.fs18{font-size:18px !important;}.fs19{font-size:19px !important;}.fs20{font-size:20px !important;}.fs21{font-size:21px !important;}.fs22{font-size:22px !important;}.fs23{font-size:23px !important;}.fs24{font-size:24px !important;}.fs25{font-size:25px !important;}.fs26{font-size:26px !important;}.fs27{font-size:27px !important;}.fs28{font-size:28px !important;}.fs29{font-size:29px !important;}.fs30{font-size:30px !important;}.fs31{font-size:31px !important;}.fs32{font-size:32px !important;}.fs33{font-size:33px !important;}.fs34{font-size:34px !important;}.fs35{font-size:35px !important;}.fs36{font-size:36px !important;}.fs37{font-size:37px !important;}.fs38{font-size:38px !important;}.fs39{font-size:39px !important;}.fs40{font-size:40px !important;}.fs41{font-size:41px !important;}.fs42{font-size:42px !important;}.fs43{font-size:43px !important;}.fs44{font-size:44px !important;}.fs45{font-size:45px !important;}.fs46{font-size:46px !important;}.fs47{font-size:47px !important;}.fs48{font-size:48px !important;}.fs49{font-size:49px !important;}.fs50{font-size:50px !important;}.fs50{font-size:50px !important;}.fs55{font-size:55px !important;}.fs60{font-size:60px !important;}.fs65{font-size:65px !important;}.fs70{font-size:70px !important;}.fs75{font-size:75px !important;}.fs80{font-size:80px !important;}.fs85{font-size:85px !important;}.fs90{font-size:90px !important;}.fs95{font-size:95px !important;}.fs100{font-size:100px !important;}.fs105{font-size:105px !important;}.fs110{font-size:110px !important;}.fs115{font-size:115px !important;}.fs120{font-size:120px !important;}.fs125{font-size:125px !important;}.fs130{font-size:130px !important;}.fs135{font-size:135px !important;}.fs140{font-size:140px !important;}.fs145{font-size:145px !important;}.fs150{font-size:150px !important;}.fs155{font-size:155px !important;}.fs160{font-size:160px !important;}.fs165{font-size:165px !important;}.fs170{font-size:170px !important;}.fs175{font-size:175px !important;}.fs180{font-size:180px !important;}.fs185{font-size:185px !important;}.fs190{font-size:190px !important;}.fs195{font-size:195px !important;}.fs200{font-size:200px !important;}.fs200{font-size:200px !important;}.fs210{font-size:210px !important;}.fs220{font-size:220px !important;}.fs230{font-size:230px !important;}.fs240{font-size:240px !important;}.fs250{font-size:250px !important;}.fs260{font-size:260px !important;}.fs270{font-size:270px !important;}.fs280{font-size:280px !important;}.fs290{font-size:290px !important;}.fs300{font-size:300px !important;}

.pt0{padding-top:0px !important;}.pt5{padding-top:5px !important;}.pt10{padding-top:10px !important;}.pt15{padding-top:15px !important;}.pt20{padding-top:20px !important;}.pt25{padding-top:25px !important;}.pt30{padding-top:30px !important;}.pt35{padding-top:35px !important;}.pt40{padding-top:40px !important;}.pt45{padding-top:45px !important;}.pt50{padding-top:50px !important;}.pt55{padding-top:55px !important;}.pt60{padding-top:60px !important;}.pt65{padding-top:65px !important;}.pt70{padding-top:70px !important;}.pt75{padding-top:75px !important;}.pt80{padding-top:80px !important;}.pt85{padding-top:85px !important;}.pt90{padding-top:90px !important;}.pt95{padding-top:95px !important;}.pt100{padding-top:100px !important;}.pt105{padding-top:105px !important;}.pt110{padding-top:110px !important;}.pt115{padding-top:115px !important;}.pt120{padding-top:120px !important;}.pt125{padding-top:125px !important;}.pt130{padding-top:130px !important;}.pt135{padding-top:135px !important;}.pt140{padding-top:140px !important;}.pt145{padding-top:145px !important;}.pt150{padding-top:150px !important;}.pt155{padding-top:155px !important;}.pt160{padding-top:160px !important;}.pt165{padding-top:165px !important;}.pt170{padding-top:170px !important;}.pt175{padding-top:175px !important;}.pt180{padding-top:180px !important;}.pt185{padding-top:185px !important;}.pt190{padding-top:190px !important;}.pt195{padding-top:195px !important;}.pt200{padding-top:200px !important;}.pt200{padding-top:200px !important;}.pt210{padding-top:210px !important;}.pt220{padding-top:220px !important;}.pt230{padding-top:230px !important;}.pt240{padding-top:240px !important;}.pt250{padding-top:250px !important;}.pt260{padding-top:260px !important;}.pt270{padding-top:270px !important;}.pt280{padding-top:280px !important;}.pt290{padding-top:290px !important;}.pt300{padding-top:300px !important;}.pt310{padding-top:310px !important;}.pt320{padding-top:320px !important;}.pt330{padding-top:330px !important;}.pt340{padding-top:340px !important;}.pt350{padding-top:350px !important;}.pt360{padding-top:360px !important;}.pt370{padding-top:370px !important;}.pt380{padding-top:380px !important;}.pt390{padding-top:390px !important;}.pt400{padding-top:400px !important;}.pt410{padding-top:410px !important;}.pt420{padding-top:420px !important;}.pt430{padding-top:430px !important;}.pt440{padding-top:440px !important;}.pt450{padding-top:450px !important;}.pt460{padding-top:460px !important;}.pt470{padding-top:470px !important;}.pt480{padding-top:480px !important;}.pt490{padding-top:490px !important;}.pt500{padding-top:500px !important;}.pt510{padding-top:510px !important;}.pt520{padding-top:520px !important;}.pt530{padding-top:530px !important;}.pt540{padding-top:540px !important;}.pt550{padding-top:550px !important;}.pt560{padding-top:560px !important;}.pt570{padding-top:570px !important;}.pt580{padding-top:580px !important;}.pt590{padding-top:590px !important;}.pt600{padding-top:600px !important;}.pt610{padding-top:610px !important;}.pt620{padding-top:620px !important;}.pt630{padding-top:630px !important;}.pt640{padding-top:640px !important;}.pt650{padding-top:650px !important;}.pt660{padding-top:660px !important;}.pt670{padding-top:670px !important;}.pt680{padding-top:680px !important;}.pt690{padding-top:690px !important;}.pt700{padding-top:700px !important;}.pt710{padding-top:710px !important;}.pt720{padding-top:720px !important;}.pt730{padding-top:730px !important;}.pt740{padding-top:740px !important;}.pt750{padding-top:750px !important;}.pt760{padding-top:760px !important;}.pt770{padding-top:770px !important;}.pt780{padding-top:780px !important;}.pt790{padding-top:790px !important;}.pt800{padding-top:800px !important;}.pt810{padding-top:810px !important;}.pt820{padding-top:820px !important;}.pt830{padding-top:830px !important;}.pt840{padding-top:840px !important;}.pt850{padding-top:850px !important;}.pt860{padding-top:860px !important;}.pt870{padding-top:870px !important;}.pt880{padding-top:880px !important;}.pt890{padding-top:890px !important;}.pt900{padding-top:900px !important;}.pt910{padding-top:910px !important;}.pt920{padding-top:920px !important;}.pt930{padding-top:930px !important;}.pt940{padding-top:940px !important;}.pt950{padding-top:950px !important;}.pt960{padding-top:960px !important;}.pt970{padding-top:970px !important;}.pt980{padding-top:980px !important;}.pt990{padding-top:990px !important;}.pt1000{padding-top:1000px !important;}
.pb0{padding-bottom:0px !important;}.pb5{padding-bottom:5px !important;}.pb10{padding-bottom:10px !important;}.pb15{padding-bottom:15px !important;}.pb20{padding-bottom:20px !important;}.pb25{padding-bottom:25px !important;}.pb30{padding-bottom:30px !important;}.pb35{padding-bottom:35px !important;}.pb40{padding-bottom:40px !important;}.pb45{padding-bottom:45px !important;}.pb50{padding-bottom:50px !important;}.pb55{padding-bottom:55px !important;}.pb60{padding-bottom:60px !important;}.pb65{padding-bottom:65px !important;}.pb70{padding-bottom:70px !important;}.pb75{padding-bottom:75px !important;}.pb80{padding-bottom:80px !important;}.pb85{padding-bottom:85px !important;}.pb90{padding-bottom:90px !important;}.pb95{padding-bottom:95px !important;}.pb100{padding-bottom:100px !important;}.pb105{padding-bottom:105px !important;}.pb110{padding-bottom:110px !important;}.pb115{padding-bottom:115px !important;}.pb120{padding-bottom:120px !important;}.pb125{padding-bottom:125px !important;}.pb130{padding-bottom:130px !important;}.pb135{padding-bottom:135px !important;}.pb140{padding-bottom:140px !important;}.pb145{padding-bottom:145px !important;}.pb150{padding-bottom:150px !important;}.pb155{padding-bottom:155px !important;}.pb160{padding-bottom:160px !important;}.pb165{padding-bottom:165px !important;}.pb170{padding-bottom:170px !important;}.pb175{padding-bottom:175px !important;}.pb180{padding-bottom:180px !important;}.pb185{padding-bottom:185px !important;}.pb190{padding-bottom:190px !important;}.pb195{padding-bottom:195px !important;}.pb200{padding-bottom:200px !important;}.pb200{padding-bottom:200px !important;}.pb210{padding-bottom:210px !important;}.pb220{padding-bottom:220px !important;}.pb230{padding-bottom:230px !important;}.pb240{padding-bottom:240px !important;}.pb250{padding-bottom:250px !important;}.pb260{padding-bottom:260px !important;}.pb270{padding-bottom:270px !important;}.pb280{padding-bottom:280px !important;}.pb290{padding-bottom:290px !important;}.pb300{padding-bottom:300px !important;}.pb310{padding-bottom:310px !important;}.pb320{padding-bottom:320px !important;}.pb330{padding-bottom:330px !important;}.pb340{padding-bottom:340px !important;}.pb350{padding-bottom:350px !important;}.pb360{padding-bottom:360px !important;}.pb370{padding-bottom:370px !important;}.pb380{padding-bottom:380px !important;}.pb390{padding-bottom:390px !important;}.pb400{padding-bottom:400px !important;}.pb410{padding-bottom:410px !important;}.pb420{padding-bottom:420px !important;}.pb430{padding-bottom:430px !important;}.pb440{padding-bottom:440px !important;}.pb450{padding-bottom:450px !important;}.pb460{padding-bottom:460px !important;}.pb470{padding-bottom:470px !important;}.pb480{padding-bottom:480px !important;}.pb490{padding-bottom:490px !important;}.pb500{padding-bottom:500px !important;}.pb510{padding-bottom:510px !important;}.pb520{padding-bottom:520px !important;}.pb530{padding-bottom:530px !important;}.pb540{padding-bottom:540px !important;}.pb550{padding-bottom:550px !important;}.pb560{padding-bottom:560px !important;}.pb570{padding-bottom:570px !important;}.pb580{padding-bottom:580px !important;}.pb590{padding-bottom:590px !important;}.pb600{padding-bottom:600px !important;}.pb610{padding-bottom:610px !important;}.pb620{padding-bottom:620px !important;}.pb630{padding-bottom:630px !important;}.pb640{padding-bottom:640px !important;}.pb650{padding-bottom:650px !important;}.pb660{padding-bottom:660px !important;}.pb670{padding-bottom:670px !important;}.pb680{padding-bottom:680px !important;}.pb690{padding-bottom:690px !important;}.pb700{padding-bottom:700px !important;}.pb710{padding-bottom:710px !important;}.pb720{padding-bottom:720px !important;}.pb730{padding-bottom:730px !important;}.pb740{padding-bottom:740px !important;}.pb750{padding-bottom:750px !important;}.pb760{padding-bottom:760px !important;}.pb770{padding-bottom:770px !important;}.pb780{padding-bottom:780px !important;}.pb790{padding-bottom:790px !important;}.pb800{padding-bottom:800px !important;}.pb810{padding-bottom:810px !important;}.pb820{padding-bottom:820px !important;}.pb830{padding-bottom:830px !important;}.pb840{padding-bottom:840px !important;}.pb850{padding-bottom:850px !important;}.pb860{padding-bottom:860px !important;}.pb870{padding-bottom:870px !important;}.pb880{padding-bottom:880px !important;}.pb890{padding-bottom:890px !important;}.pb900{padding-bottom:900px !important;}.pb910{padding-bottom:910px !important;}.pb920{padding-bottom:920px !important;}.pb930{padding-bottom:930px !important;}.pb940{padding-bottom:940px !important;}.pb950{padding-bottom:950px !important;}.pb960{padding-bottom:960px !important;}.pb970{padding-bottom:970px !important;}.pb980{padding-bottom:980px !important;}.pb990{padding-bottom:990px !important;}.pb1000{padding-bottom:1000px !important;}
.pr0{padding-right:0px !important;}.pr5{padding-right:5px !important;}.pr10{padding-right:10px !important;}.pr15{padding-right:15px !important;}.pr20{padding-right:20px !important;}.pr25{padding-right:25px !important;}.pr30{padding-right:30px !important;}.pr35{padding-right:35px !important;}.pr40{padding-right:40px !important;}.pr45{padding-right:45px !important;}.pr50{padding-right:50px !important;}.pr55{padding-right:55px !important;}.pr60{padding-right:60px !important;}.pr65{padding-right:65px !important;}.pr70{padding-right:70px !important;}.pr75{padding-right:75px !important;}.pr80{padding-right:80px !important;}.pr85{padding-right:85px !important;}.pr90{padding-right:90px !important;}.pr95{padding-right:95px !important;}.pr100{padding-right:100px !important;}.pr105{padding-right:105px !important;}.pr110{padding-right:110px !important;}.pr115{padding-right:115px !important;}.pr120{padding-right:120px !important;}.pr125{padding-right:125px !important;}.pr130{padding-right:130px !important;}.pr135{padding-right:135px !important;}.pr140{padding-right:140px !important;}.pr145{padding-right:145px !important;}.pr150{padding-right:150px !important;}.pr155{padding-right:155px !important;}.pr160{padding-right:160px !important;}.pr165{padding-right:165px !important;}.pr170{padding-right:170px !important;}.pr175{padding-right:175px !important;}.pr180{padding-right:180px !important;}.pr185{padding-right:185px !important;}.pr190{padding-right:190px !important;}.pr195{padding-right:195px !important;}.pr200{padding-right:200px !important;}.pr200{padding-right:200px !important;}.pr210{padding-right:210px !important;}.pr220{padding-right:220px !important;}.pr230{padding-right:230px !important;}.pr240{padding-right:240px !important;}.pr250{padding-right:250px !important;}.pr260{padding-right:260px !important;}.pr270{padding-right:270px !important;}.pr280{padding-right:280px !important;}.pr290{padding-right:290px !important;}.pr300{padding-right:300px !important;}.pr310{padding-right:310px !important;}.pr320{padding-right:320px !important;}.pr330{padding-right:330px !important;}.pr340{padding-right:340px !important;}.pr350{padding-right:350px !important;}.pr360{padding-right:360px !important;}.pr370{padding-right:370px !important;}.pr380{padding-right:380px !important;}.pr390{padding-right:390px !important;}.pr400{padding-right:400px !important;}.pr410{padding-right:410px !important;}.pr420{padding-right:420px !important;}.pr430{padding-right:430px !important;}.pr440{padding-right:440px !important;}.pr450{padding-right:450px !important;}.pr460{padding-right:460px !important;}.pr470{padding-right:470px !important;}.pr480{padding-right:480px !important;}.pr490{padding-right:490px !important;}.pr500{padding-right:500px !important;}.pr510{padding-right:510px !important;}.pr520{padding-right:520px !important;}.pr530{padding-right:530px !important;}.pr540{padding-right:540px !important;}.pr550{padding-right:550px !important;}.pr560{padding-right:560px !important;}.pr570{padding-right:570px !important;}.pr580{padding-right:580px !important;}.pr590{padding-right:590px !important;}.pr600{padding-right:600px !important;}.pr610{padding-right:610px !important;}.pr620{padding-right:620px !important;}.pr630{padding-right:630px !important;}.pr640{padding-right:640px !important;}.pr650{padding-right:650px !important;}.pr660{padding-right:660px !important;}.pr670{padding-right:670px !important;}.pr680{padding-right:680px !important;}.pr690{padding-right:690px !important;}.pr700{padding-right:700px !important;}.pr710{padding-right:710px !important;}.pr720{padding-right:720px !important;}.pr730{padding-right:730px !important;}.pr740{padding-right:740px !important;}.pr750{padding-right:750px !important;}.pr760{padding-right:760px !important;}.pr770{padding-right:770px !important;}.pr780{padding-right:780px !important;}.pr790{padding-right:790px !important;}.pr800{padding-right:800px !important;}.pr810{padding-right:810px !important;}.pr820{padding-right:820px !important;}.pr830{padding-right:830px !important;}.pr840{padding-right:840px !important;}.pr850{padding-right:850px !important;}.pr860{padding-right:860px !important;}.pr870{padding-right:870px !important;}.pr880{padding-right:880px !important;}.pr890{padding-right:890px !important;}.pr900{padding-right:900px !important;}.pr910{padding-right:910px !important;}.pr920{padding-right:920px !important;}.pr930{padding-right:930px !important;}.pr940{padding-right:940px !important;}.pr950{padding-right:950px !important;}.pr960{padding-right:960px !important;}.pr970{padding-right:970px !important;}.pr980{padding-right:980px !important;}.pr990{padding-right:990px !important;}.pr1000{padding-right:1000px !important;}
.pl0{padding-left:0px !important;}.pl5{padding-left:5px !important;}.pl10{padding-left:10px !important;}.pl15{padding-left:15px !important;}.pl20{padding-left:20px !important;}.pl25{padding-left:25px !important;}.pl30{padding-left:30px !important;}.pl35{padding-left:35px !important;}.pl40{padding-left:40px !important;}.pl45{padding-left:45px !important;}.pl50{padding-left:50px !important;}.pl55{padding-left:55px !important;}.pl60{padding-left:60px !important;}.pl65{padding-left:65px !important;}.pl70{padding-left:70px !important;}.pl75{padding-left:75px !important;}.pl80{padding-left:80px !important;}.pl85{padding-left:85px !important;}.pl90{padding-left:90px !important;}.pl95{padding-left:95px !important;}.pl100{padding-left:100px !important;}.pl105{padding-left:105px !important;}.pl110{padding-left:110px !important;}.pl115{padding-left:115px !important;}.pl120{padding-left:120px !important;}.pl125{padding-left:125px !important;}.pl130{padding-left:130px !important;}.pl135{padding-left:135px !important;}.pl140{padding-left:140px !important;}.pl145{padding-left:145px !important;}.pl150{padding-left:150px !important;}.pl155{padding-left:155px !important;}.pl160{padding-left:160px !important;}.pl165{padding-left:165px !important;}.pl170{padding-left:170px !important;}.pl175{padding-left:175px !important;}.pl180{padding-left:180px !important;}.pl185{padding-left:185px !important;}.pl190{padding-left:190px !important;}.pl195{padding-left:195px !important;}.pl200{padding-left:200px !important;}.pl200{padding-left:200px !important;}.pl210{padding-left:210px !important;}.pl220{padding-left:220px !important;}.pl230{padding-left:230px !important;}.pl240{padding-left:240px !important;}.pl250{padding-left:250px !important;}.pl260{padding-left:260px !important;}.pl270{padding-left:270px !important;}.pl280{padding-left:280px !important;}.pl290{padding-left:290px !important;}.pl300{padding-left:300px !important;}.pl310{padding-left:310px !important;}.pl320{padding-left:320px !important;}.pl330{padding-left:330px !important;}.pl340{padding-left:340px !important;}.pl350{padding-left:350px !important;}.pl360{padding-left:360px !important;}.pl370{padding-left:370px !important;}.pl380{padding-left:380px !important;}.pl390{padding-left:390px !important;}.pl400{padding-left:400px !important;}.pl410{padding-left:410px !important;}.pl420{padding-left:420px !important;}.pl430{padding-left:430px !important;}.pl440{padding-left:440px !important;}.pl450{padding-left:450px !important;}.pl460{padding-left:460px !important;}.pl470{padding-left:470px !important;}.pl480{padding-left:480px !important;}.pl490{padding-left:490px !important;}.pl500{padding-left:500px !important;}.pl510{padding-left:510px !important;}.pl520{padding-left:520px !important;}.pl530{padding-left:530px !important;}.pl540{padding-left:540px !important;}.pl550{padding-left:550px !important;}.pl560{padding-left:560px !important;}.pl570{padding-left:570px !important;}.pl580{padding-left:580px !important;}.pl590{padding-left:590px !important;}.pl600{padding-left:600px !important;}.pl610{padding-left:610px !important;}.pl620{padding-left:620px !important;}.pl630{padding-left:630px !important;}.pl640{padding-left:640px !important;}.pl650{padding-left:650px !important;}.pl660{padding-left:660px !important;}.pl670{padding-left:670px !important;}.pl680{padding-left:680px !important;}.pl690{padding-left:690px !important;}.pl700{padding-left:700px !important;}.pl710{padding-left:710px !important;}.pl720{padding-left:720px !important;}.pl730{padding-left:730px !important;}.pl740{padding-left:740px !important;}.pl750{padding-left:750px !important;}.pl760{padding-left:760px !important;}.pl770{padding-left:770px !important;}.pl780{padding-left:780px !important;}.pl790{padding-left:790px !important;}.pl800{padding-left:800px !important;}.pl810{padding-left:810px !important;}.pl820{padding-left:820px !important;}.pl830{padding-left:830px !important;}.pl840{padding-left:840px !important;}.pl850{padding-left:850px !important;}.pl860{padding-left:860px !important;}.pl870{padding-left:870px !important;}.pl880{padding-left:880px !important;}.pl890{padding-left:890px !important;}.pl900{padding-left:900px !important;}.pl910{padding-left:910px !important;}.pl920{padding-left:920px !important;}.pl930{padding-left:930px !important;}.pl940{padding-left:940px !important;}.pl950{padding-left:950px !important;}.pl960{padding-left:960px !important;}.pl970{padding-left:970px !important;}.pl980{padding-left:980px !important;}.pl990{padding-left:990px !important;}.pl1000{padding-left:1000px !important;}

.mt0{margin-top:0px !important;}.mt5{margin-top:5px !important;}.mt10{margin-top:10px !important;}.mt15{margin-top:15px !important;}.mt20{margin-top:20px !important;}.mt25{margin-top:25px !important;}.mt30{margin-top:30px !important;}.mt35{margin-top:35px !important;}.mt40{margin-top:40px !important;}.mt45{margin-top:45px !important;}.mt50{margin-top:50px !important;}.mt55{margin-top:55px !important;}.mt60{margin-top:60px !important;}.mt65{margin-top:65px !important;}.mt70{margin-top:70px !important;}.mt75{margin-top:75px !important;}.mt80{margin-top:80px !important;}.mt85{margin-top:85px !important;}.mt90{margin-top:90px !important;}.mt95{margin-top:95px !important;}.mt100{margin-top:100px !important;}.mt105{margin-top:105px !important;}.mt110{margin-top:110px !important;}.mt115{margin-top:115px !important;}.mt120{margin-top:120px !important;}.mt125{margin-top:125px !important;}.mt130{margin-top:130px !important;}.mt135{margin-top:135px !important;}.mt140{margin-top:140px !important;}.mt145{margin-top:145px !important;}.mt150{margin-top:150px !important;}.mt155{margin-top:155px !important;}.mt160{margin-top:160px !important;}.mt165{margin-top:165px !important;}.mt170{margin-top:170px !important;}.mt175{margin-top:175px !important;}.mt180{margin-top:180px !important;}.mt185{margin-top:185px !important;}.mt190{margin-top:190px !important;}.mt195{margin-top:195px !important;}.mt200{margin-top:200px !important;}.mt200{margin-top:200px !important;}.mt210{margin-top:210px !important;}.mt220{margin-top:220px !important;}.mt230{margin-top:230px !important;}.mt240{margin-top:240px !important;}.mt250{margin-top:250px !important;}.mt260{margin-top:260px !important;}.mt270{margin-top:270px !important;}.mt280{margin-top:280px !important;}.mt290{margin-top:290px !important;}.mt300{margin-top:300px !important;}.mt310{margin-top:310px !important;}.mt320{margin-top:320px !important;}.mt330{margin-top:330px !important;}.mt340{margin-top:340px !important;}.mt350{margin-top:350px !important;}.mt360{margin-top:360px !important;}.mt370{margin-top:370px !important;}.mt380{margin-top:380px !important;}.mt390{margin-top:390px !important;}.mt400{margin-top:400px !important;}.mt410{margin-top:410px !important;}.mt420{margin-top:420px !important;}.mt430{margin-top:430px !important;}.mt440{margin-top:440px !important;}.mt450{margin-top:450px !important;}.mt460{margin-top:460px !important;}.mt470{margin-top:470px !important;}.mt480{margin-top:480px !important;}.mt490{margin-top:490px !important;}.mt500{margin-top:500px !important;}.mt510{margin-top:510px !important;}.mt520{margin-top:520px !important;}.mt530{margin-top:530px !important;}.mt540{margin-top:540px !important;}.mt550{margin-top:550px !important;}.mt560{margin-top:560px !important;}.mt570{margin-top:570px !important;}.mt580{margin-top:580px !important;}.mt590{margin-top:590px !important;}.mt600{margin-top:600px !important;}.mt610{margin-top:610px !important;}.mt620{margin-top:620px !important;}.mt630{margin-top:630px !important;}.mt640{margin-top:640px !important;}.mt650{margin-top:650px !important;}.mt660{margin-top:660px !important;}.mt670{margin-top:670px !important;}.mt680{margin-top:680px !important;}.mt690{margin-top:690px !important;}.mt700{margin-top:700px !important;}.mt710{margin-top:710px !important;}.mt720{margin-top:720px !important;}.mt730{margin-top:730px !important;}.mt740{margin-top:740px !important;}.mt750{margin-top:750px !important;}.mt760{margin-top:760px !important;}.mt770{margin-top:770px !important;}.mt780{margin-top:780px !important;}.mt790{margin-top:790px !important;}.mt800{margin-top:800px !important;}.mt810{margin-top:810px !important;}.mt820{margin-top:820px !important;}.mt830{margin-top:830px !important;}.mt840{margin-top:840px !important;}.mt850{margin-top:850px !important;}.mt860{margin-top:860px !important;}.mt870{margin-top:870px !important;}.mt880{margin-top:880px !important;}.mt890{margin-top:890px !important;}.mt900{margin-top:900px !important;}.mt910{margin-top:910px !important;}.mt920{margin-top:920px !important;}.mt930{margin-top:930px !important;}.mt940{margin-top:940px !important;}.mt950{margin-top:950px !important;}.mt960{margin-top:960px !important;}.mt970{margin-top:970px !important;}.mt980{margin-top:980px !important;}.mt990{margin-top:990px !important;}.mt1000{margin-top:1000px !important;}
.mb0{margin-bottom:0px !important;}.mb5{margin-bottom:5px !important;}.mb10{margin-bottom:10px !important;}.mb15{margin-bottom:15px !important;}.mb20{margin-bottom:20px !important;}.mb25{margin-bottom:25px !important;}.mb30{margin-bottom:30px !important;}.mb35{margin-bottom:35px !important;}.mb40{margin-bottom:40px !important;}.mb45{margin-bottom:45px !important;}.mb50{margin-bottom:50px !important;}.mb55{margin-bottom:55px !important;}.mb60{margin-bottom:60px !important;}.mb65{margin-bottom:65px !important;}.mb70{margin-bottom:70px !important;}.mb75{margin-bottom:75px !important;}.mb80{margin-bottom:80px !important;}.mb85{margin-bottom:85px !important;}.mb90{margin-bottom:90px !important;}.mb95{margin-bottom:95px !important;}.mb100{margin-bottom:100px !important;}.mb105{margin-bottom:105px !important;}.mb110{margin-bottom:110px !important;}.mb115{margin-bottom:115px !important;}.mb120{margin-bottom:120px !important;}.mb125{margin-bottom:125px !important;}.mb130{margin-bottom:130px !important;}.mb135{margin-bottom:135px !important;}.mb140{margin-bottom:140px !important;}.mb145{margin-bottom:145px !important;}.mb150{margin-bottom:150px !important;}.mb155{margin-bottom:155px !important;}.mb160{margin-bottom:160px !important;}.mb165{margin-bottom:165px !important;}.mb170{margin-bottom:170px !important;}.mb175{margin-bottom:175px !important;}.mb180{margin-bottom:180px !important;}.mb185{margin-bottom:185px !important;}.mb190{margin-bottom:190px !important;}.mb195{margin-bottom:195px !important;}.mb200{margin-bottom:200px !important;}.mb200{margin-bottom:200px !important;}.mb210{margin-bottom:210px !important;}.mb220{margin-bottom:220px !important;}.mb230{margin-bottom:230px !important;}.mb240{margin-bottom:240px !important;}.mb250{margin-bottom:250px !important;}.mb260{margin-bottom:260px !important;}.mb270{margin-bottom:270px !important;}.mb280{margin-bottom:280px !important;}.mb290{margin-bottom:290px !important;}.mb300{margin-bottom:300px !important;}.mb310{margin-bottom:310px !important;}.mb320{margin-bottom:320px !important;}.mb330{margin-bottom:330px !important;}.mb340{margin-bottom:340px !important;}.mb350{margin-bottom:350px !important;}.mb360{margin-bottom:360px !important;}.mb370{margin-bottom:370px !important;}.mb380{margin-bottom:380px !important;}.mb390{margin-bottom:390px !important;}.mb400{margin-bottom:400px !important;}.mb410{margin-bottom:410px !important;}.mb420{margin-bottom:420px !important;}.mb430{margin-bottom:430px !important;}.mb440{margin-bottom:440px !important;}.mb450{margin-bottom:450px !important;}.mb460{margin-bottom:460px !important;}.mb470{margin-bottom:470px !important;}.mb480{margin-bottom:480px !important;}.mb490{margin-bottom:490px !important;}.mb500{margin-bottom:500px !important;}.mb510{margin-bottom:510px !important;}.mb520{margin-bottom:520px !important;}.mb530{margin-bottom:530px !important;}.mb540{margin-bottom:540px !important;}.mb550{margin-bottom:550px !important;}.mb560{margin-bottom:560px !important;}.mb570{margin-bottom:570px !important;}.mb580{margin-bottom:580px !important;}.mb590{margin-bottom:590px !important;}.mb600{margin-bottom:600px !important;}.mb610{margin-bottom:610px !important;}.mb620{margin-bottom:620px !important;}.mb630{margin-bottom:630px !important;}.mb640{margin-bottom:640px !important;}.mb650{margin-bottom:650px !important;}.mb660{margin-bottom:660px !important;}.mb670{margin-bottom:670px !important;}.mb680{margin-bottom:680px !important;}.mb690{margin-bottom:690px !important;}.mb700{margin-bottom:700px !important;}.mb710{margin-bottom:710px !important;}.mb720{margin-bottom:720px !important;}.mb730{margin-bottom:730px !important;}.mb740{margin-bottom:740px !important;}.mb750{margin-bottom:750px !important;}.mb760{margin-bottom:760px !important;}.mb770{margin-bottom:770px !important;}.mb780{margin-bottom:780px !important;}.mb790{margin-bottom:790px !important;}.mb800{margin-bottom:800px !important;}.mb810{margin-bottom:810px !important;}.mb820{margin-bottom:820px !important;}.mb830{margin-bottom:830px !important;}.mb840{margin-bottom:840px !important;}.mb850{margin-bottom:850px !important;}.mb860{margin-bottom:860px !important;}.mb870{margin-bottom:870px !important;}.mb880{margin-bottom:880px !important;}.mb890{margin-bottom:890px !important;}.mb900{margin-bottom:900px !important;}.mb910{margin-bottom:910px !important;}.mb920{margin-bottom:920px !important;}.mb930{margin-bottom:930px !important;}.mb940{margin-bottom:940px !important;}.mb950{margin-bottom:950px !important;}.mb960{margin-bottom:960px !important;}.mb970{margin-bottom:970px !important;}.mb980{margin-bottom:980px !important;}.mb990{margin-bottom:990px !important;}.mb1000{margin-bottom:1000px !important;}
.mr0{margin-right:0px !important;}.mr5{margin-right:5px !important;}.mr10{margin-right:10px !important;}.mr15{margin-right:15px !important;}.mr20{margin-right:20px !important;}.mr25{margin-right:25px !important;}.mr30{margin-right:30px !important;}.mr35{margin-right:35px !important;}.mr40{margin-right:40px !important;}.mr45{margin-right:45px !important;}.mr50{margin-right:50px !important;}.mr55{margin-right:55px !important;}.mr60{margin-right:60px !important;}.mr65{margin-right:65px !important;}.mr70{margin-right:70px !important;}.mr75{margin-right:75px !important;}.mr80{margin-right:80px !important;}.mr85{margin-right:85px !important;}.mr90{margin-right:90px !important;}.mr95{margin-right:95px !important;}.mr100{margin-right:100px !important;}.mr105{margin-right:105px !important;}.mr110{margin-right:110px !important;}.mr115{margin-right:115px !important;}.mr120{margin-right:120px !important;}.mr125{margin-right:125px !important;}.mr130{margin-right:130px !important;}.mr135{margin-right:135px !important;}.mr140{margin-right:140px !important;}.mr145{margin-right:145px !important;}.mr150{margin-right:150px !important;}.mr155{margin-right:155px !important;}.mr160{margin-right:160px !important;}.mr165{margin-right:165px !important;}.mr170{margin-right:170px !important;}.mr175{margin-right:175px !important;}.mr180{margin-right:180px !important;}.mr185{margin-right:185px !important;}.mr190{margin-right:190px !important;}.mr195{margin-right:195px !important;}.mr200{margin-right:200px !important;}.mr200{margin-right:200px !important;}.mr210{margin-right:210px !important;}.mr220{margin-right:220px !important;}.mr230{margin-right:230px !important;}.mr240{margin-right:240px !important;}.mr250{margin-right:250px !important;}.mr260{margin-right:260px !important;}.mr270{margin-right:270px !important;}.mr280{margin-right:280px !important;}.mr290{margin-right:290px !important;}.mr300{margin-right:300px !important;}.mr310{margin-right:310px !important;}.mr320{margin-right:320px !important;}.mr330{margin-right:330px !important;}.mr340{margin-right:340px !important;}.mr350{margin-right:350px !important;}.mr360{margin-right:360px !important;}.mr370{margin-right:370px !important;}.mr380{margin-right:380px !important;}.mr390{margin-right:390px !important;}.mr400{margin-right:400px !important;}.mr410{margin-right:410px !important;}.mr420{margin-right:420px !important;}.mr430{margin-right:430px !important;}.mr440{margin-right:440px !important;}.mr450{margin-right:450px !important;}.mr460{margin-right:460px !important;}.mr470{margin-right:470px !important;}.mr480{margin-right:480px !important;}.mr490{margin-right:490px !important;}.mr500{margin-right:500px !important;}.mr510{margin-right:510px !important;}.mr520{margin-right:520px !important;}.mr530{margin-right:530px !important;}.mr540{margin-right:540px !important;}.mr550{margin-right:550px !important;}.mr560{margin-right:560px !important;}.mr570{margin-right:570px !important;}.mr580{margin-right:580px !important;}.mr590{margin-right:590px !important;}.mr600{margin-right:600px !important;}.mr610{margin-right:610px !important;}.mr620{margin-right:620px !important;}.mr630{margin-right:630px !important;}.mr640{margin-right:640px !important;}.mr650{margin-right:650px !important;}.mr660{margin-right:660px !important;}.mr670{margin-right:670px !important;}.mr680{margin-right:680px !important;}.mr690{margin-right:690px !important;}.mr700{margin-right:700px !important;}.mr710{margin-right:710px !important;}.mr720{margin-right:720px !important;}.mr730{margin-right:730px !important;}.mr740{margin-right:740px !important;}.mr750{margin-right:750px !important;}.mr760{margin-right:760px !important;}.mr770{margin-right:770px !important;}.mr780{margin-right:780px !important;}.mr790{margin-right:790px !important;}.mr800{margin-right:800px !important;}.mr810{margin-right:810px !important;}.mr820{margin-right:820px !important;}.mr830{margin-right:830px !important;}.mr840{margin-right:840px !important;}.mr850{margin-right:850px !important;}.mr860{margin-right:860px !important;}.mr870{margin-right:870px !important;}.mr880{margin-right:880px !important;}.mr890{margin-right:890px !important;}.mr900{margin-right:900px !important;}.mr910{margin-right:910px !important;}.mr920{margin-right:920px !important;}.mr930{margin-right:930px !important;}.mr940{margin-right:940px !important;}.mr950{margin-right:950px !important;}.mr960{margin-right:960px !important;}.mr970{margin-right:970px !important;}.mr980{margin-right:980px !important;}.mr990{margin-right:990px !important;}.mr1000{margin-right:1000px !important;}
.ml0{margin-left:0px !important;}.ml5{margin-left:5px !important;}.ml10{margin-left:10px !important;}.ml15{margin-left:15px !important;}.ml20{margin-left:20px !important;}.ml25{margin-left:25px !important;}.ml30{margin-left:30px !important;}.ml35{margin-left:35px !important;}.ml40{margin-left:40px !important;}.ml45{margin-left:45px !important;}.ml50{margin-left:50px !important;}.ml55{margin-left:55px !important;}.ml60{margin-left:60px !important;}.ml65{margin-left:65px !important;}.ml70{margin-left:70px !important;}.ml75{margin-left:75px !important;}.ml80{margin-left:80px !important;}.ml85{margin-left:85px !important;}.ml90{margin-left:90px !important;}.ml95{margin-left:95px !important;}.ml100{margin-left:100px !important;}.ml105{margin-left:105px !important;}.ml110{margin-left:110px !important;}.ml115{margin-left:115px !important;}.ml120{margin-left:120px !important;}.ml125{margin-left:125px !important;}.ml130{margin-left:130px !important;}.ml135{margin-left:135px !important;}.ml140{margin-left:140px !important;}.ml145{margin-left:145px !important;}.ml150{margin-left:150px !important;}.ml155{margin-left:155px !important;}.ml160{margin-left:160px !important;}.ml165{margin-left:165px !important;}.ml170{margin-left:170px !important;}.ml175{margin-left:175px !important;}.ml180{margin-left:180px !important;}.ml185{margin-left:185px !important;}.ml190{margin-left:190px !important;}.ml195{margin-left:195px !important;}.ml200{margin-left:200px !important;}.ml200{margin-left:200px !important;}.ml210{margin-left:210px !important;}.ml220{margin-left:220px !important;}.ml230{margin-left:230px !important;}.ml240{margin-left:240px !important;}.ml250{margin-left:250px !important;}.ml260{margin-left:260px !important;}.ml270{margin-left:270px !important;}.ml280{margin-left:280px !important;}.ml290{margin-left:290px !important;}.ml300{margin-left:300px !important;}.ml310{margin-left:310px !important;}.ml320{margin-left:320px !important;}.ml330{margin-left:330px !important;}.ml340{margin-left:340px !important;}.ml350{margin-left:350px !important;}.ml360{margin-left:360px !important;}.ml370{margin-left:370px !important;}.ml380{margin-left:380px !important;}.ml390{margin-left:390px !important;}.ml400{margin-left:400px !important;}.ml410{margin-left:410px !important;}.ml420{margin-left:420px !important;}.ml430{margin-left:430px !important;}.ml440{margin-left:440px !important;}.ml450{margin-left:450px !important;}.ml460{margin-left:460px !important;}.ml470{margin-left:470px !important;}.ml480{margin-left:480px !important;}.ml490{margin-left:490px !important;}.ml500{margin-left:500px !important;}.ml510{margin-left:510px !important;}.ml520{margin-left:520px !important;}.ml530{margin-left:530px !important;}.ml540{margin-left:540px !important;}.ml550{margin-left:550px !important;}.ml560{margin-left:560px !important;}.ml570{margin-left:570px !important;}.ml580{margin-left:580px !important;}.ml590{margin-left:590px !important;}.ml600{margin-left:600px !important;}.ml610{margin-left:610px !important;}.ml620{margin-left:620px !important;}.ml630{margin-left:630px !important;}.ml640{margin-left:640px !important;}.ml650{margin-left:650px !important;}.ml660{margin-left:660px !important;}.ml670{margin-left:670px !important;}.ml680{margin-left:680px !important;}.ml690{margin-left:690px !important;}.ml700{margin-left:700px !important;}.ml710{margin-left:710px !important;}.ml720{margin-left:720px !important;}.ml730{margin-left:730px !important;}.ml740{margin-left:740px !important;}.ml750{margin-left:750px !important;}.ml760{margin-left:760px !important;}.ml770{margin-left:770px !important;}.ml780{margin-left:780px !important;}.ml790{margin-left:790px !important;}.ml800{margin-left:800px !important;}.ml810{margin-left:810px !important;}.ml820{margin-left:820px !important;}.ml830{margin-left:830px !important;}.ml840{margin-left:840px !important;}.ml850{margin-left:850px !important;}.ml860{margin-left:860px !important;}.ml870{margin-left:870px !important;}.ml880{margin-left:880px !important;}.ml890{margin-left:890px !important;}.ml900{margin-left:900px !important;}.ml910{margin-left:910px !important;}.ml920{margin-left:920px !important;}.ml930{margin-left:930px !important;}.ml940{margin-left:940px !important;}.ml950{margin-left:950px !important;}.ml960{margin-left:960px !important;}.ml970{margin-left:970px !important;}.ml980{margin-left:980px !important;}.ml990{margin-left:990px !important;}.ml1000{margin-left:1000px !important;}


.martop9p { margin-top: 9%; }

.martop20p {margin-top: 20%;}
.martopmin10 { margin-top: -10px; }
.martopmin20 { margin-top: -20px; }
.martop0 { margin-top: 0px; }
.martop3 { margin-top: 3px; }
.martop5 { margin-top: 5px; }
.martop10 { margin-top: 10px; }
.martop15 { margin-top: 15px; }
.martop20 { margin-top: 20px; }
.martop25 { margin-top: 25px; }
.martop30 { margin-top: 30px; }
.martop40 { margin-top: 40px; }
.martop50 { margin-top: 50px; }
.martop75 { margin-top: 75px; }
.martop100 { margin-top: 100px; }

.marbot5 { margin-bottom: 5px; }
.marbot10 { margin-bottom: 10px; }
.marbot15 { margin-bottom: 15px; }
.marbot20 { margin-bottom: 20px; }
.marbot25 { margin-bottom: 25px; }
.marbot30 { margin-bottom: 30px; }
.marbot40 { margin-bottom: 40px; }
.marbot50 { margin-bottom: 50px; }
.marbot75 { margin-bottom: 75px; }

.marright5 { margin-right: 5px; }
.marright10 { margin-right: 10px; }
.marright15 { margin-right: 15px; }
.marright20 { margin-right: 20px; }
.marright25 { margin-right: 25px; }
.marright30 { margin-right: 50px; }
.marright40 { margin-right: 50px; }
.marright50 { margin-right: 50px; }
.marright75 { margin-right: 75px; }

.marleftmin5 { margin-left: -35px; }
.marleft5 { margin-left: 5px; }
.marleft10 { margin-left: 10px; }
.marleft15 { margin-left: 15px; }
.marleft20 { margin-left: 20px; }
.marleft25 { margin-left: 25px; }
.marleft30 { margin-left: 50px; }
.marleft40 { margin-left: 50px; }
.marleft50 { margin-left: 50px; }
.marleft75 { margin-left: 75px; }

.padtop0 { padding-top: 0px; }
.padtop5 { padding-top: 5px; }
.padtop10 { padding-top: 10px; }
.padtop15 { padding-top: 15px; }
.padtop20 { padding-top: 20px; }
.padtop30 { padding-top: 30px; }
.padtop40 { padding-top: 40px; }
.padtop50 { padding-top: 50px; }
.padtop100 { padding-top: 100px; }

.padbot0 { padding-bottom: 0px; }
.padbot5 { padding-bottom: 5px; }
.padbot10 { padding-bottom: 10px; }
.padbot15 { padding-bottom: 15px; }
.padbot20 { padding-bottom: 20px; }
.padbot30 { padding-bottom: 30px; }
.padbot40 { padding-bottom: 40px; }
.padbot50 { padding-bottom: 50px; }

.padr0 { padding-right: 0px; }
.padr5 { padding-right: 5px; }
.padr10 { padding-right: 10px; }
.padr15 { padding-right: 15px; }
.padr20 { padding-right: 20px; }
.padr30 { padding-right: 30px; }
.padr40 { padding-right: 40px; }
.padr50 { padding-right: 50px; }

.padl0 { padding-left: 0px; }
.padl5 { padding-left: 5px; }
.padl10 { padding-left: 10px; }
.padl15 { padding-left: 15px; }
.padl20 { padding-left: 20px; }
.padl30 { padding-left: 30px; }
.padl40 { padding-left: 40px; }
.padl50 { padding-left: 50px; }

.kolom4{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
.kolom3{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.kolom2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#rbmes { cursor: pointer; position: fixed; bottom: 0; right: 10px; }

.bgtrans { background-color: transparent; }
.bgfff { background-color: #ffffff; }
.bgef { background-color: #EFEFEF; }
.bgf2 { background-color: #f2f2f2; }
.bg24 { background-color: #242424; color: #eee; }
.bgF8 { background-color: #F8F8F8; co-lor: #333; }
.bgF0F { background-color: #ECECFB;}
.bg2693ff { background-color: #2693ff;}
.bgD4 { background-color: #D43076; color: ; }
.bg932 { background-color: #932091; color: #eee; }
.bg932 a { color: #eee; }
.bg67B { background-color: #67B0D1; color: ; }
.bg40 { background-color: #404040; color: #eee; }

.font16 { font-size: 16px;  }


.gambarjudul {
    width: 100%; /*slider width*/
    max-height: 250px; /*slider height*/
	overflow: hidden;
}
.gambarjudul img {
    width: 100%; /*img width*/
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.rounded0 {
  -webkit-border-radius: 0 0 0 0 !important;
     -moz-border-radius: 0 0 0 0 !important;
          border-radius: 0 0 0 0 !important;
}
.rounded4 {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.rounded5{
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.rounded6 {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.rounded7 {
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}

/*************** bootstrap **************/
.navbar2{ margin-bottom: 0; }
.navbar-inverse {

}

.breadcrumb2 { width: 100%; padding: 10px 0; background-color: #f9f9f9; border-bottom: 1px dotted #eee; }
.breadcrumb2 a { padding: 0 3px; }

.table.table-borderless td,
.table.table-borderless th {
    border-top: 0; !important;
    border-bottom: 0; !important;
}
.table-pointer tbody tr { cursor: pointer; }

table thead th {background-color: #E8EFF5;}
.table { margin-bottom: 0;}
.full100 { max-width: 100%; }

/* .input-group {margin-bottom: 5px;} */
.surattugasmodal .modal-dialog{width: 700px;}
.modal600 .modal-dialog{width: 600px;}
.modal650 .modal-dialog{width: 650px;}
.modal700 .modal-dialog{width: 700px;}
.modal750 .modal-dialog{width: 750px;}
.modal800 .modal-dialog{width: 800px;}
.modal850 .modal-dialog{width: 850px;}
.modal900 .modal-dialog{width: 900px;}
.modal950 .modal-dialog{width: 950px;}
.modal1000 .modal-dialog{width: 1000px;}

.modal50 .modal-dialog{width: 50%;}
.modal60 .modal-dialog{width: 60%;}
.modal70 .modal-dialog{width: 70%;}
.modal80 .modal-dialog{width: 80%;}
.modal90 .modal-dialog{width: 90%;}
.modalauto .modal-dialog{width: auto;}

ta-ble .b-tn { margin: 0; padding: 2px 4px;}

.smallpaging .pagination{
  margin: 0px;
}



.alert { padding: 10px 30px 10px 10px; font-family: 'Roboto',Arial; font-size: 13px; border-radius: 0; position: fixed; z-index: 99; margin: 0; width: 300px; bottom: 20px; right: 20px; box-shadow: 0 0 3px #999; }

.alert .fa { margin-top: 8px; }

.alert b { font-size: 16px; }

.close { color: #fff; opacity: 1; }

.alert-dismissable { padding-right: 30px; }

.alert-success { background-color: rgba(46, 139, 87, 0.9); color: #eee; border-color: transparent; }

.alert-danger { background-color: rgba(178, 34, 34, 0.9); color: #eee; border-color: transparent; }

.alert-warning { background-color: rgba(230, 149, 0, 0.9); color: #eee; border-color: transparent; }

.alert-info { background-color: rgba(29, 165, 158, 0.9); color: #eee; border-color: transparent; }
/*
 */
/*
 * Plugin: chosen
 * ---------------
 */
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.chosen-container {
  /* display: inline-block; */
  font-size: 14px;
  position: relative;
  vertical-align: middle;
}
.chosen-container .chosen-drop {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
  margin-top: -1px;
  position: absolute;
  top: 100%;
  left: -9000px;
  z-index: 1060;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
  right: 0;
}
.chosen-container .chosen-results {
  color: #555555;
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  line-height: 1.42857143;
  list-style: none;
  margin: 0;
  padding: 5px 6px;
}
.chosen-container .chosen-results li em {
  background: #feffde;
  font-style: normal;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li.active-result {
  cursor: pointer;
  display: list-item;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #428bca;
  background-image: none;
  color: white;
}
.chosen-container .chosen-results li.highlighted em {
  background: transparent;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #777777;
}
.chosen-container .chosen-results .no-results {
  background: #eeeeee;
  display: list-item;
}
.chosen-container .chosen-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  z-index: 1;
}
.chosen-container .chosen-results-scroll span {
  display: inline-block;
  height: 1.42857143;
  text-indent: -5000px;
  width: 9px;
}
.chosen-container .chosen-results-scroll-down {
  bottom: 0;
}
.chosen-container .chosen-results-scroll-down span {
  background: url("chosen-sprite.png") no-repeat -4px -3px;
}
.chosen-container .chosen-results-scroll-up span {
  background: url("chosen-sprite.png") no-repeat -22px -3px;
}
.chosen-container-single .chosen-single {
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: #555555;
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.chosen-container-single .chosen-single span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single abbr {
  background: url("chosen-sprite.png") right top no-repeat;
  display: block;
  font-size: 1px;
  height: 10px;
  position: absolute;
  right: 26px;
  top: 12px;
  width: 12px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: right -11px;
}
.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
  background-position: right 2px;
}
.chosen-container-single .chosen-single div {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
}
.chosen-container-single .chosen-single div b {
  background: url("chosen-sprite.png") no-repeat 0 4px;
  display: block;
  height: 100%;
  width: 100%;
}
.chosen-container-single .chosen-default {
  color: #777777;
}
.chosen-container-single .chosen-search {
  margin: 0;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1000;
}
.chosen-container-single .chosen-search input[type="text"] {
  background: url("chosen-sprite.png") no-repeat 100% -20px, #ffffff;
  border: 1px solid #cccccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  margin: 1px 0;
  padding: 4px 20px 4px 4px;
  width: 100%;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.chosen-container-single-nosearch .chosen-search input {
  position: absolute;
  left: -9000px;
}
.chosen-container-multi .chosen-choices {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  cursor: text;
  height: auto !important;
  height: 1%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices .search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
  background: transparent !important;
  border: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555555;
  height: 32px;
  margin: 0;
  padding: 4px;
  outline: 0;
}
.chosen-container-multi .chosen-choices .search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices .search-choice {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: #333333;
  cursor: default;
  line-height: 13px;
  margin: 6px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  position: relative;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
  background: url("chosen-sprite.png") right top no-repeat;
  display: block;
  font-size: 1px;
  height: 10px;
  position: absolute;
  right: 4px;
  top: 5px;
  width: 12px;
  cursor: pointer;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chosen-container-multi .chosen-choices .search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
.chosen-container-multi .chosen-results {
  margin: 0 0 0 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: none;
}
.chosen-container-active .chosen-single {
  border: 1px solid #66afe9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-color: #ffffff;
  border: 1px solid #66afe9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  background: transparent;
  border-left: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 4px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #66afe9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active .chosen-choices .search-field input[type="text"] {
  color: #111 !important;
}
.chosen-container-active.chosen-with-drop .chosen-choices {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.chosen-disabled {
  cursor: default;
  opacity: 0.5 !important;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  padding: 0 8px 0 0;
  overflow: visible;
}
.chosen-rtl .chosen-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}
.chosen-rtl .chosen-single div {
  left: 7px;
  right: auto;
}
.chosen-rtl .chosen-single abbr {
  left: 26px;
  right: auto;
}
.chosen-rtl .chosen-choices .search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices .search-choice {
  margin: 6px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices .search-choice .search-choice-close {
  background-position: right top;
  left: 4px;
  right: auto;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  background: url("chosen-sprite.png") no-repeat -28px -20px, #ffffff;
  direction: rtl;
  padding: 4px 5px 4px 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}


select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

.datepicker{z-index:9999 !important;}

fieldset.collapsible {
    border: 1px solid #D5D8D8;
}

fieldset.collapsible > legend {
    margin-left: 140px;
    padding: 0 10px;
}

fieldset.collapsible > div {
    display: none;
}


/* Override Font-Awesome */
/* Color Added for Clarity */
.fa-file-text-o:before,
.fa-file-txt-o:before {
    content:"\f0f6";
    color: #808080;
}
.fa-file-word-o:before,
.fa-file-doc-o:before,
.fa-file-docx-o:before {
    content:"\f1c2";
    color: #2277bb;
}
.fa-file-excel-o:before,
.fa-file-xls-o:before,
.fa-file-xlsx-o:before {
    content:"\f1c3";
    color: #22bb66;
}
.fa-file-powerpoint-o:before,
.fa-file-ppt-o:before,
.fa-file-pptx-o:before {
    content:"\f1c4";
    color: #ff5533;
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before,
.fa-file-bmp-o:before,
.fa-file-gif-o:before,
.fa-file-jpeg-o:before,
.fa-file-jpg-o:before,
.fa-file-png-o:before {
    content:"\f1c5";
    color: #ffaa00;
}
.fa-file-archive-o:before,
.fa-file-bz2-o:before,
.fa-file-dmg-o:before,
.fa-file-gz-o:before,
.fa-file-gzip-o:before,
.fa-file-iso-o:before,
.fa-file-rar-o:before,
.fa-file-tar-o:before,
.fa-file-tgz-o:before,
.fa-file-zip-o:before {
    content:"\f1c6";
    color: #333355;
}



    /* -webkit-filter: blur(1px) grayscale(10%);
.modal-open .container-fluid, .modal-open  .container {

} */


body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
    height: 100%;
}
.modal-open .withblur{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.bigico {position: absolute; bottom: 0px; left: 0;}

/*.header {position: fixed; top: 0; left: 0; z-index:98; width: 100%; height: 65px; border-bottom: 1px solid #999;} */
.martop65 {margin-top: 65px;}
.martop70 {margin-top: 70px;}
.kiri { position: absolute; top: 65px; bottom: 50px; left: 0; }
.kiri .kiri-isi { height: 100%; }

.kanan { position: absolute; top: 0px; z-index:99; bottom: 0px; right: 0; padding: 0; color: #000; background: #E87E04; bord-er-left: 1px solid #8EB8B6; }

.footer { clear: both; position: absolute; bottom: 0; width: 100%; color: #ddd; height: 0px; background: #006666; border-top: 1px solid #005252; }
.superwidths {   width: 1000px;
  scroll-snap-points-x: repeat(1000px);}

.tiles .tile.double{
	width: 24% !important;
	height: 150px;
}